# Start a training Model in Notebook

In [34]:
from pandas import read_csv
from numpy import set_printoptions

In [35]:
import os
print(os.getcwd())

C:\amlWorking\MachineLearningNotebooks\bike-buyer

In [36]:
filename = 'data/data-scientist-model.csv'
dataframe = read_csv(filename)

In [38]:
dataframe.head(5)

,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,Education,HouseOwnerFlag,NumberCarsOwned,CommuteDistance,Region,Age,BikeBuyer
0,1,1,40000,0,0,1,0,2,10,1,39,0
1,1,1,30000,3,0,1,0,2,2,2,66,0
2,1,1,30000,3,0,1,0,2,2,2,65,0
3,1,2,80000,2,0,1,1,2,10,2,61,0
4,1,2,80000,2,0,1,1,2,10,2,61,0

In [39]:
dataframe.shape

(4875, 12)

In [40]:
dataframe.describe()

,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,Education,HouseOwnerFlag,NumberCarsOwned,CommuteDistance,Region,Age,BikeBuyer
count,4875.000000,4875.000000,4875.000000,4875.000000,4875.000000,4875.000000,4875.000000,4875.000000,4875.000000,4875.000000,4875.000000,4875.000000
mean,1.324308,1.482462,45942.564103,1.855795,1.107487,1.324308,0.594462,1.999385,7.201436,1.931692,54.297436,0.384410
std,0.468164,0.499744,34976.232970,1.632760,1.614567,0.468164,0.491046,0.877265,6.732722,0.902540,11.814969,0.486505
min,1.000000,1.000000,10000.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,36.000000,0.000000
25%,1.000000,1.000000,20000.000000,0.000000,0.000000,1.000000,0.000000,2.000000,2.000000,1.000000,43.000000,0.000000
50%,1.000000,1.000000,30000.000000,2.000000,0.000000,1.000000,1.000000,2.000000,5.000000,2.000000,56.000000,0.000000
75%,2.000000,2.000000,70000.000000,3.000000,2.000000,2.000000,1.000000,2.000000,10.000000,3.000000,64.000000,1.000000
max,2.000000,2.000000,170000.000000,5.000000,5.000000,2.000000,1.000000,4.000000,20.000000,3.000000,106.000000,1.000000

In [41]:
print(dataframe.groupby('BikeBuyer').size())

BikeBuyer
0    3001
1    1874
dtype: int64

# KNeighborsClassifier

In [42]:
from pandas import read_csv
from numpy import set_printoptions
from sklearn.model_selection import train_test_split 
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.ensemble import RandomForestClassifier

filename = 'data/data-scientist-model.csv'
dataframe = read_csv(filename) 

array = dataframe.values
X = array[:,0:11] 
Y = array[:,11]

test_size = .30
seed = 45
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

model = KNeighborsClassifier()
model.fit(X_train, Y_train) 

result = model.score(X_test, Y_test)

print(("Accuracy: %.3f%%") % (result*100.0))

Accuracy: 76.623%

# SupportVectorClassifier

In [43]:
from pandas import read_csv
from numpy import set_printoptions
from sklearn.model_selection import train_test_split 
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.ensemble import RandomForestClassifier

filename = 'data/data-scientist-model.csv'
dataframe = read_csv(filename) 

array = dataframe.values
X = array[:,0:11] 
Y = array[:,11]

test_size = .30
seed = 45
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

model = SVC()
model.fit(X_train, Y_train) 

result = model.score(X_test, Y_test)

print(("Accuracy: %.3f%%") % (result*100.0))

C:\Users\darsch\.azureml\envs\aml\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

Accuracy: 77.580%

# RandomForestClassifier

In [44]:
from pandas import read_csv
from numpy import set_printoptions
from sklearn.model_selection import train_test_split 
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.ensemble import RandomForestClassifier

filename = 'data/data-scientist-model.csv'
dataframe = read_csv(filename) 

array = dataframe.values
X = array[:,0:11] 
Y = array[:,11]

test_size = .30
seed = 45
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

model = RandomForestClassifier()
model.fit(X_train, Y_train) 

result = model.score(X_test, Y_test)

print(("Accuracy: %.3f%%") % (result*100.0))

Accuracy: 76.692%

C:\Users\darsch\.azureml\envs\aml\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)